@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* @import url(http://fonts.googleapis.com/css?family=Brawler); */

body {
    color: black;
    font-family: "Inconsolata";
    margin: 0;
    padding: 0;
}

form.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#map {
    position: absolute;
    top:0;
    bottom:0;
    width:100%;
}

.corner {
    position:fixed;
    top:10px;
    right:10px;
    opacity:.4;
    border-radius:15px;
    padding:1em;
    background: black;
    color: white;
    z-index: 1000;
}

.corner:hover {
    opacity:.8;
    width:20%;
    height:20%;
}

.corner span {
    display:none;
    }
.corner:hover span {
    display:block;
}


