@import url(https://fonts.googleapis.com/css?family=Inconsolata);
/* @import url(http://fonts.googleapis.com/css?family=Brawler); */

body {
    color: black;
    font-family: "Inconsolata";
    margin: 0;
    padding: 0;
    background-color: #eee;
}

#map {
    position: absolute;
    top:4em;
    bottom:4em;
    width:100%;
}

#top-left {
    position:fixed;
    top:.1em;
    padding:.5em;
}

#top-left form {display: inline;}

#bottom-right {
    position: fixed;
    font-size: 100%;
    bottom: 1em;
    right: 2em;
}

#top-left select {
    background-color: white;
    padding: .3em;
    border: 1px solid #ddd;
}

#top-left input {
    color: black; 
    background-color: #eee;
    margin-left: 1em;
    border: 0;
    text-align: right;
}

#showhere {color: blue;}
#sm  {color: green;}
#stop {color: red;}

#top-right {
    position: fixed;
    top: 15px;
    right: 10px;
    color: black;
}

#top-right a {color: blue;}

#top-left a, #top-right a
{
    padding: .3em;
    margin-left: .2em;
    text-decoration: none;
    text-shadow: none;
    -webkit-transition: 200ms linear 0s;
    -moz-transition: 200ms linear 0s;
    -o-transition: 200ms linear 0s;
    transition: 200ms linear 0s;
    outline: 0 none;
}

#top-left a:hover, #top-right a:hover {
    text-decoration: none;
    background-color: white;
    box-shadow: 0px 0px 2px #4d4d4d, 0px 5px 10px #aeaeae;
}
