@import url(http://fonts.googleapis.com/css?family=Inconsolata);
@import url(http://fonts.googleapis.com/css?family=Brawler);

body {
    color: black;
    font-family: "Inconsolata";
    background-color: #F2F2F2;
    margin-top: 1em;
    margin-bottom: 0em;
}

form.main {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#map {
    margin-top: 1em;
    height: 620px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;
}
